.toggle, .toggleR {
    display: inline-block;
    position: relative;
    top: 3px;
}

.toggle {
    .sprite(@sprite-checkbox-unchecked);
}

.toggle.checked {
    .sprite(@sprite-checkbox-checked);
}

.toggleR {
    .sprite(@sprite-radio-unchecked);
}

.toggleR.checked {
    .sprite(@sprite-radio-checked);
}