#pricing {
	.section-grey {
		background: #F6F6F6;
		border-top: 1px solid #D8D8D8;
	}

	.section-included {
		background: #ffffff;
		border-top: 1px solid #D8D8D8;

		ol, ul {
			margin: 0 0 0 30px;
			padding: 0;

			li {
				margin: 0;
				padding: 0;
				line-height: 30px;
				list-style-image: url('../images/pricing-li.png');
			}
		}
	}

	.mobile-pricing {
		.header {
			.container-fluid {
				.row {
					color: #636369;

					div.plan {
						padding-left: 0;

						h5 {
							text-transform: uppercase;
							margin: 0;
						}
						p {
							margin: 0;
						}
					}

					div.price {
						font-size: 26px;
						font-weight: 100;

						.from {
							font-size: 13px;
							font-weight: 200;
							vertical-align: top;
							position: relative;
							top: 3px;
						}

						.glyphicon:extend(.glyphicon-chevron-down all) {
							font-size: 10px;
							margin: 12px 0 0 5px;
							vertical-align: top;
						}
					}
				}
			}
		}

		.body {
			ol {
				list-style-type: none;
				margin: 10px 0 10px 15px;
				padding: 0;
				color: #636369;

				li {
					list-style-type: none;
					margin: 0;
					padding: 0;
					font-weight: 200;

					.pull-right {
						padding-right: 15px;
					}
				}
			}
		}
	}

	.description-mobile {
		ul {
			margin: 0 0 30px 30px;
			padding: 0;
			color: #636369;

			li {
				margin: 0;
				padding: 0;
				list-style-image: url('../images/pricing-li.png');
			}
		}
	}

	table.pricing {
		width: 100%;
		text-align: center;
		color: #636369;

		thead {
			tr {
				th {
					width: 20%;
					border: 1px solid #D8D8D8;
					border-top-width: 3px;
					text-align: center;

					h5 {
						margin: 20px 0 5px 0;
					}

					p {
						font-weight: 200;
						font-size: 14px;
						text-transform: none;
						margin: 0;

						&.price {
							font-weight: 100;
							font-size: 60px;
							margin: 0;

							@media screen and (max-width: @screen-sm-max) {
								font-size: 50px;
							}

							.from {
								font-weight: 200;
								font-size: 14px;
								vertical-align: top;
								display: inline-block;
								padding-top: 15px;
								padding-right: 5px;
							}
						}
					}

					&:nth-child(1){ border: none; }
					&:nth-child(2){
						border-top-color: #636369;
						.accent {
							color: #636369;
						}
					}
					&:nth-child(3){
						border-top-color: #FC5A5D;
						.accent {
							color: #FC5A5D;
						}
					}
					&:nth-child(4){
						border-top-color: #19A786;
						.accent {
							color: #19A786;
						}
					}
					&:nth-child(5){
						border-top-color: #22B6EE;
						.accent {
							color: #22B6EE;
						}
					}
				}
			}
		}

		tbody {
			border-top: 1px solid #D8D8D8;
			border-bottom: 1px solid #D8D8D8;

			tr {
				td {
					border: none;
					border-left: 1px solid #D8D8D8;
					border-right: 1px solid #D8D8D8;
					font-weight: 200;

					&:first-child {
						text-align: right;
						font-weight: bold;
					}
				}

				&:nth-child(odd) {
					background: transparent;
				}

				&:last-child {
					td {
						padding-bottom: 20px;
					}
				}
			}
		}
	}

	table.description {
		width: 100%;
		color: #636369;

		thead {
			tr {
				th {
					width: 20%;
					border: 1px solid #D8D8D8;
					text-align: center;
					font-size: 15px;
					text-transform: none;
					padding: 15px 10px;

					&:first-child {
						border: none;
						width: 40%;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					border: 1px solid #D8D8D8;
					text-align: center;
					padding: 15px;

					i[class*=sprite_] {
						display: inline-block;
					}

					&:first-child {
						text-align: left;
						font-weight: 200;
						font-size: 15px;
					}
				}

				&:nth-child(odd) {
					background: transparent;
				}
			}
		}
	}
}