.sprite_logo, .sprite_logo-lg {
	margin: 13px 15px 0 0;
	display: inline-block;
	text-indent: -9999em;

	@media screen and (max-width: @screen-sm-max) {
		margin: 10px 30px;
	}
}

.navbar-admin {
	background: #646569;
	border-radius: 0;
	min-height: 37px;
	max-height: 37px;
	height: 37px;
	font-size: 11.5px;

	#navbar-admin {
		ul.navbar-nav {
			li {

				a {
					color: #ffffff;
					padding: 7px 20px 8px 0;

					&,
					&:hover,
					&:focus {
						background: transparent;
					}
				}

				&.active {
					a {
						color: #999999;
					}
				}

				&.dropdown {
					a.dropdown-toggle,
					&.open a.dropdown-toggle,
					&:hover a.dropdown-toggle {
						background: transparent !important;
					}

					ul.dropdown-menu {
						background: #646569;
						border-color: #646569;
						margin-top: 0;
						left: -20px;
						border-radius: 0;

						li {
							a {
								font-size: 11.5px;
								padding: 5px 20px;
								color: #999999;

								&:hover,
								&:focus,
								&.active {
									color: #ffffff;
								}
							}
						}
					}
				}
			}
		}
	}
}

nav.navbar {
	border-bottom: 1px solid @navbar-default-border;
	.btn {
		color: #ffffff !important;
		padding: 5px 10px;
		margin-top: 9px;
		margin-left: 20px;

		@media screen and (max-width: @screen-md-max) {
			margin-left: 10px;
			margin-right: 10px;
			width: auto !important;
			display: inline-block;
		}

		&:hover {
			color: @brand-primary !important;
		}
	}
}