@import "bootstrap/bootstrap";

@import "mistable-sprites";
@import "mistable-utilities";
@import "mistable-nav";
@import "mistable-forms";
@import "mistable-tables";
@import "mistable-panel-reveal";
@import "mistable-footer";
@import "mistable-landing";
@import "mistable-sections";

@import "mistable-page-index";
@import "mistable-page-about";
@import "mistable-page-pricing";
@import "mistable-page-features";
@import "mistable-page-contact.less";

@import "plugins/chosen";
@import "plugins/redactor";
@import "plugins/kalypto";

// Remove from production, just used in stylesheet
h3.section-header {
	text-transform: uppercase;
	margin: 50px 0 20px 0;
	font-size: 13px;
	color: #000000;
}