#home {
	nav.navbar {
		margin-bottom: 0;
	}

	.homepage-section {
		&.section-image {
			background: url('../images/homepage-section-image.jpg') no-repeat 50% 0;
			background-size: cover;

			.container {
				min-height: 455px;
				padding-bottom: 30px;

				@media screen and (min-width: @screen-sm-min) {
					background: url('../images/homepage-section-horse.png') no-repeat 85% 100%;
				}

				h1 {
					color: #ffffff;
					font-size: 50px;
					margin: 120px 0 20px 0;
				}

				p {
					color: #ffffff;
					font-size: 20px;
					font-weight: 200;
				}

				.btn {
					font-size: 16px;
					font-weight: normal;
					padding: 10px 70px;
					margin-top: 20px;
				}
			}
		}

		&.section-advertise {
			background: white;

			.container {
				@media screen and (min-width: @screen-sm-min) {
					background: url('../images/homepage-section-man-2.png') no-repeat 100% 100%;
				}
				@media screen and (min-width: @screen-md-min) {
					background: url('../images/homepage-section-man-2.png') no-repeat 85% 100%;
				}
				padding-bottom: 40px;
			}
		}

		&.section-slider {
			@media screen and (max-width: @screen-xs-max) {
				.container {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
			.carousel-caption {
				h2 {
					@media screen and (min-width: @screen-sm-min) {
						margin-top: 20px;
					}
					@media screen and (min-width: @screen-md-min) {
						margin-top: 70px;
					}
				}
			}

			a[class*=sprite_carousel] {
				display: inline-block;
				text-indent: -9999em;
				margin: 245px auto 0 auto;

				@media screen and (max-width: @screen-sm-max) {
					margin-top: 150px;
				}
			}
		}

		&.section-grey {
			.container {
				padding-bottom: 40px;
				@media screen and (min-width: @screen-sm-min) {
					background: url('../images/homepage-section-man.png') no-repeat 5% 100%;
				}
				@media screen and (min-width: @screen-md-min) {
					background: url('../images/homepage-section-man.png') no-repeat 15% 100%;
				}
			}
		}

		p {
			font-weight: 200;
			font-size: 16px;
			line-height: 30px;
		}

		.quote {
			h2 {
				margin-top: 55px;
			}

			.btn {
				margin: 15px 0 0 0;
			}

			blockquote {
				border: none;
				background: url('../images/blockquote-bg.png') no-repeat 0 0;
				margin: 0 0 0 -60px;
				padding: 20px 0 0 60px;
				font-weight: 200;
				font-size: 16px;
				line-height: 30px;

				strong.attribution {
					display: block;
					font-weight: 500;
					color: #636369;
				}
			}

			@media screen and (max-width: @screen-sm-max) {
				h2, .btn {
					margin-left: 60px;
				}
				blockquote {
					margin-left: 0;
				}
			}
		}
	}
}