#contact {
	p {
		font-size: 16px;
		font-weight: 100;
	}

	label, input {
		font-size: 16px;
		font-weight: 200;
	}

	.btn.send {
		padding-left: 50px;
		padding-right: 50px;
	}

	ul.contact-details {
		list-style-type: none;
		margin: 20px 0 0 0;
		li {
			margin: 0 0 30px 0;
			font-size: 14px;
			font-weight: 200;

			strong {
				display: inline-block;
				width: 20px;
				text-align: center;
			}
		}

		@media screen and (max-width: @screen-xs-max) {
			padding: 0;
			margin-top: 100px;
		}
	}
}