form.bordered {
	border: 1px solid #dfdee3;
	padding: 20px;
}

form .date-range {
	label {
		width: 100%;
	}

	.form-group {
		width: 44%;
		float: left;
	}
	.form-group-to {
		width: 10%;
		float: left;
		text-align: center;
		line-height: 35px;
	}
}

fieldset.options {
	legend {
		font-size: 15px;
		font-weight: normal;
		border: none;
		margin: 0 0 10px 0;
	}
}

label.checkbox-inline,
label.radio-inline,
.checkbox label,
.radio label {
	padding-left: 20px;
}