.landing-page {
	padding-top: 65px;
	background: #efeded;
	color: #3d3e40;
	margin-bottom: 40px;

	.content {
		background: #ffffff;
		padding-top: 15px;
		border: 1px solid #cccccc;

		.banner {
			border: 1px solid #ededed;
			margin-bottom: 20px;
			.banner-image {
				img {
					max-width: 100%;
				}
			}
			.banner-footer {
				background: #ededed;
				padding: 10px 15px;
				p {
					margin: 0;
					padding: 0;
				}
			}
		}
		.main-content{
			audio {
				margin-bottom: 15px;
			}
			img {
				margin-bottom: 15px;
				max-width: 100%;
			}

			.field-table {
				border: 1px solid #E0DFE3;
				padding: 10px;

				table {
					width: 100%;
					thead {
						tr {
							border-bottom: 1px solid #E0DFE3;

							th {
								font-size: 12.5px;
								padding: 15px 10px 5px 10px;
							}
						}
					}
					tbody {
						tr {
							border-bottom: 1px solid #E0DFE3;
							td {
								line-height: 30px;
								padding: 10px;
							}
						}
					}
				}
			}

			.horse-history {
				margin-top: 20px;
				border-top: 1px solid #D0D0D2;

				h6 {
					margin-top: 20px;
					color: #838487;
					font-size: 12px;
				}

				p {
					font-size: 14px;
				}

				table {
					width: 100%;
					margin-bottom: 20px;

					tbody {
						tr {
							td {
								padding: 15px 10px;
								font-size: 12px;

								&:first-child {
									width: 70px;
									text-align: center;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
		.inner-footer {
			background: #efeded;
			margin: 50px -15px 0 -15px;
			padding: 20px 30px;
			color: #646577;
			font-size: 13px;

			a {
				color: #646577;
			}
		}
	}

	.sidebar {
		// text-align: center;
	}
}