#features {
	section {
		padding-top: 50px;
		padding-bottom: 50px;

		p {
			font-weight: 100;
			font-size: 16px;
			line-height: 30px;
			width: 100%;
			max-width: 710px;
			margin-left: auto;
			margin-right: auto;

			&.larger {
				font-size: 20px;
			}

			&.note {
				font-size: 12px;
				font-style: italic;
				line-height: 16px;
				margin-top: 185px;

				@media screen and (max-width: @screen-xs-max) {
					margin: 30px;
				}
			}
		}

		a.btn {
			display: inline-block;
			margin: 0 auto;
		}

		ul {
			margin: 60px 0 0 0;
			li {
				margin: 15px 0;
				padding: 0 0 0 35px;
				font-size: 14px;
				font-weight: 100;
				line-height: 20px;
				list-style-type: none;
				background: url('../images/features-tick.png') no-repeat 0 4px;
			}
		}

		img {
			max-width: 100%;
		}

		&.comms {
			img {
				display: block;
				margin: 0 auto;
				@media screen and (max-width: @screen-xs-max) {
					display: block;
					margin: 0 auto;
					max-width: 75%;
				}
			}
		}

		&.alerts {
			@media screen and (max-width: @screen-xs-max) {
				img {
					max-width: 90%;
				}
			}
		}

		&.website {
			@media screen and (max-width: @screen-xs-max) {
				img {
					max-width: 85%;
				}
			}
		}

		&.crm {
			@media screen and (max-width: @screen-xs-max) {
				img {
					display: block;
					margin: 0 auto;
					max-width: 75%;
				}
			}
		}
	}
}