.panel-reveal {
	border: 1px solid #DFDEE3;
	padding: 10px 20px 5px 20px;

	.panel-header {
		h3 {
			color: #484848;
			display: inline-block;
			font-weight: 500;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 1;
		}
	}
	.panel-body {
		padding: 0;
	}
}