table.file-list {
	margin: 0;

	thead tr th:nth-child(1),
	tbody tr td:nth-child(1) {
		width: 60px;
	}

	thead tr th:nth-child(3),
	tbody tr td:nth-child(3),
	thead tr th:nth-child(4),
	tbody tr td:nth-child(4), {
		width: 65px;
	}
}

div.file-list-body {
	max-height: 260px;
	overflow: auto;
}

table.contact-list {
	margin: 0;

	thead tr th:nth-child(1),
	tbody tr td:nth-child(1) {
		width: 20px;
	}
}

div.contact-list-body {
	max-height: 260px;
	overflow: auto;
}