/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-carousel-left-name: sprite_carousel-left;
@sprite-carousel-left-x: 0px;
@sprite-carousel-left-y: 48px;
@sprite-carousel-left-offset-x: 0px;
@sprite-carousel-left-offset-y: -48px;
@sprite-carousel-left-width: 22px;
@sprite-carousel-left-height: 32px;
@sprite-carousel-left-total-width: 139px;
@sprite-carousel-left-total-height: 80px;
@sprite-carousel-left-image: '../images/spritesheet.png';
@sprite-carousel-left: 0px 48px 0px -48px 22px 32px 139px 80px '../images/spritesheet.png' sprite_carousel-left;
@sprite-carousel-right-name: sprite_carousel-right;
@sprite-carousel-right-x: 22px;
@sprite-carousel-right-y: 48px;
@sprite-carousel-right-offset-x: -22px;
@sprite-carousel-right-offset-y: -48px;
@sprite-carousel-right-width: 22px;
@sprite-carousel-right-height: 32px;
@sprite-carousel-right-total-width: 139px;
@sprite-carousel-right-total-height: 80px;
@sprite-carousel-right-image: '../images/spritesheet.png';
@sprite-carousel-right: 22px 48px -22px -48px 22px 32px 139px 80px '../images/spritesheet.png' sprite_carousel-right;
@sprite-checkbox-checked-name: sprite_checkbox-checked;
@sprite-checkbox-checked-x: 117px;
@sprite-checkbox-checked-y: 29px;
@sprite-checkbox-checked-offset-x: -117px;
@sprite-checkbox-checked-offset-y: -29px;
@sprite-checkbox-checked-width: 19px;
@sprite-checkbox-checked-height: 19px;
@sprite-checkbox-checked-total-width: 139px;
@sprite-checkbox-checked-total-height: 80px;
@sprite-checkbox-checked-image: '../images/spritesheet.png';
@sprite-checkbox-checked: 117px 29px -117px -29px 19px 19px 139px 80px '../images/spritesheet.png' sprite_checkbox-checked;
@sprite-checkbox-unchecked-name: sprite_checkbox-unchecked;
@sprite-checkbox-unchecked-x: 44px;
@sprite-checkbox-unchecked-y: 48px;
@sprite-checkbox-unchecked-offset-x: -44px;
@sprite-checkbox-unchecked-offset-y: -48px;
@sprite-checkbox-unchecked-width: 19px;
@sprite-checkbox-unchecked-height: 19px;
@sprite-checkbox-unchecked-total-width: 139px;
@sprite-checkbox-unchecked-total-height: 80px;
@sprite-checkbox-unchecked-image: '../images/spritesheet.png';
@sprite-checkbox-unchecked: 44px 48px -44px -48px 19px 19px 139px 80px '../images/spritesheet.png' sprite_checkbox-unchecked;
@sprite-logo-lg-name: sprite_logo-lg;
@sprite-logo-lg-x: 0px;
@sprite-logo-lg-y: 0px;
@sprite-logo-lg-offset-x: 0px;
@sprite-logo-lg-offset-y: 0px;
@sprite-logo-lg-width: 139px;
@sprite-logo-lg-height: 29px;
@sprite-logo-lg-total-width: 139px;
@sprite-logo-lg-total-height: 80px;
@sprite-logo-lg-image: '../images/spritesheet.png';
@sprite-logo-lg: 0px 0px 0px 0px 139px 29px 139px 80px '../images/spritesheet.png' sprite_logo-lg;
@sprite-logo-name: sprite_logo;
@sprite-logo-x: 0px;
@sprite-logo-y: 29px;
@sprite-logo-offset-x: 0px;
@sprite-logo-offset-y: -29px;
@sprite-logo-width: 92px;
@sprite-logo-height: 19px;
@sprite-logo-total-width: 139px;
@sprite-logo-total-height: 80px;
@sprite-logo-image: '../images/spritesheet.png';
@sprite-logo: 0px 29px 0px -29px 92px 19px 139px 80px '../images/spritesheet.png' sprite_logo;
@sprite-radio-checked-name: sprite_radio-checked;
@sprite-radio-checked-x: 63px;
@sprite-radio-checked-y: 48px;
@sprite-radio-checked-offset-x: -63px;
@sprite-radio-checked-offset-y: -48px;
@sprite-radio-checked-width: 19px;
@sprite-radio-checked-height: 19px;
@sprite-radio-checked-total-width: 139px;
@sprite-radio-checked-total-height: 80px;
@sprite-radio-checked-image: '../images/spritesheet.png';
@sprite-radio-checked: 63px 48px -63px -48px 19px 19px 139px 80px '../images/spritesheet.png' sprite_radio-checked;
@sprite-radio-unchecked-name: sprite_radio-unchecked;
@sprite-radio-unchecked-x: 82px;
@sprite-radio-unchecked-y: 48px;
@sprite-radio-unchecked-offset-x: -82px;
@sprite-radio-unchecked-offset-y: -48px;
@sprite-radio-unchecked-width: 19px;
@sprite-radio-unchecked-height: 19px;
@sprite-radio-unchecked-total-width: 139px;
@sprite-radio-unchecked-total-height: 80px;
@sprite-radio-unchecked-image: '../images/spritesheet.png';
@sprite-radio-unchecked: 82px 48px -82px -48px 19px 19px 139px 80px '../images/spritesheet.png' sprite_radio-unchecked;
@sprite-tick-name: sprite_tick;
@sprite-tick-x: 92px;
@sprite-tick-y: 29px;
@sprite-tick-offset-x: -92px;
@sprite-tick-offset-y: -29px;
@sprite-tick-width: 25px;
@sprite-tick-height: 19px;
@sprite-tick-total-width: 139px;
@sprite-tick-total-height: 80px;
@sprite-tick-image: '../images/spritesheet.png';
@sprite-tick: 92px 29px -92px -29px 25px 19px 139px 80px '../images/spritesheet.png' sprite_tick;
@sprite-carousel-left-2x-name: sprite_carousel-left-2x;
@sprite-carousel-left-2x-x: 0px;
@sprite-carousel-left-2x-y: 96px;
@sprite-carousel-left-2x-offset-x: 0px;
@sprite-carousel-left-2x-offset-y: -96px;
@sprite-carousel-left-2x-width: 44px;
@sprite-carousel-left-2x-height: 64px;
@sprite-carousel-left-2x-total-width: 278px;
@sprite-carousel-left-2x-total-height: 160px;
@sprite-carousel-left-2x-image: '../images/spritesheet-2x.png';
@sprite-carousel-left-2x: 0px 96px 0px -96px 44px 64px 278px 160px '../images/spritesheet-2x.png' sprite_carousel-left-2x;
@sprite-carousel-right-2x-name: sprite_carousel-right-2x;
@sprite-carousel-right-2x-x: 44px;
@sprite-carousel-right-2x-y: 96px;
@sprite-carousel-right-2x-offset-x: -44px;
@sprite-carousel-right-2x-offset-y: -96px;
@sprite-carousel-right-2x-width: 44px;
@sprite-carousel-right-2x-height: 64px;
@sprite-carousel-right-2x-total-width: 278px;
@sprite-carousel-right-2x-total-height: 160px;
@sprite-carousel-right-2x-image: '../images/spritesheet-2x.png';
@sprite-carousel-right-2x: 44px 96px -44px -96px 44px 64px 278px 160px '../images/spritesheet-2x.png' sprite_carousel-right-2x;
@sprite-checkbox-checked-2x-name: sprite_checkbox-checked-2x;
@sprite-checkbox-checked-2x-x: 234px;
@sprite-checkbox-checked-2x-y: 58px;
@sprite-checkbox-checked-2x-offset-x: -234px;
@sprite-checkbox-checked-2x-offset-y: -58px;
@sprite-checkbox-checked-2x-width: 38px;
@sprite-checkbox-checked-2x-height: 38px;
@sprite-checkbox-checked-2x-total-width: 278px;
@sprite-checkbox-checked-2x-total-height: 160px;
@sprite-checkbox-checked-2x-image: '../images/spritesheet-2x.png';
@sprite-checkbox-checked-2x: 234px 58px -234px -58px 38px 38px 278px 160px '../images/spritesheet-2x.png' sprite_checkbox-checked-2x;
@sprite-checkbox-unchecked-2x-name: sprite_checkbox-unchecked-2x;
@sprite-checkbox-unchecked-2x-x: 88px;
@sprite-checkbox-unchecked-2x-y: 96px;
@sprite-checkbox-unchecked-2x-offset-x: -88px;
@sprite-checkbox-unchecked-2x-offset-y: -96px;
@sprite-checkbox-unchecked-2x-width: 38px;
@sprite-checkbox-unchecked-2x-height: 38px;
@sprite-checkbox-unchecked-2x-total-width: 278px;
@sprite-checkbox-unchecked-2x-total-height: 160px;
@sprite-checkbox-unchecked-2x-image: '../images/spritesheet-2x.png';
@sprite-checkbox-unchecked-2x: 88px 96px -88px -96px 38px 38px 278px 160px '../images/spritesheet-2x.png' sprite_checkbox-unchecked-2x;
@sprite-logo-2x-name: sprite_logo-2x;
@sprite-logo-2x-x: 0px;
@sprite-logo-2x-y: 58px;
@sprite-logo-2x-offset-x: 0px;
@sprite-logo-2x-offset-y: -58px;
@sprite-logo-2x-width: 184px;
@sprite-logo-2x-height: 38px;
@sprite-logo-2x-total-width: 278px;
@sprite-logo-2x-total-height: 160px;
@sprite-logo-2x-image: '../images/spritesheet-2x.png';
@sprite-logo-2x: 0px 58px 0px -58px 184px 38px 278px 160px '../images/spritesheet-2x.png' sprite_logo-2x;
@sprite-logo-lg-2x-name: sprite_logo-lg-2x;
@sprite-logo-lg-2x-x: 0px;
@sprite-logo-lg-2x-y: 0px;
@sprite-logo-lg-2x-offset-x: 0px;
@sprite-logo-lg-2x-offset-y: 0px;
@sprite-logo-lg-2x-width: 278px;
@sprite-logo-lg-2x-height: 58px;
@sprite-logo-lg-2x-total-width: 278px;
@sprite-logo-lg-2x-total-height: 160px;
@sprite-logo-lg-2x-image: '../images/spritesheet-2x.png';
@sprite-logo-lg-2x: 0px 0px 0px 0px 278px 58px 278px 160px '../images/spritesheet-2x.png' sprite_logo-lg-2x;
@sprite-radio-checked-2x-name: sprite_radio-checked-2x;
@sprite-radio-checked-2x-x: 126px;
@sprite-radio-checked-2x-y: 96px;
@sprite-radio-checked-2x-offset-x: -126px;
@sprite-radio-checked-2x-offset-y: -96px;
@sprite-radio-checked-2x-width: 38px;
@sprite-radio-checked-2x-height: 38px;
@sprite-radio-checked-2x-total-width: 278px;
@sprite-radio-checked-2x-total-height: 160px;
@sprite-radio-checked-2x-image: '../images/spritesheet-2x.png';
@sprite-radio-checked-2x: 126px 96px -126px -96px 38px 38px 278px 160px '../images/spritesheet-2x.png' sprite_radio-checked-2x;
@sprite-radio-unchecked-2x-name: sprite_radio-unchecked-2x;
@sprite-radio-unchecked-2x-x: 164px;
@sprite-radio-unchecked-2x-y: 96px;
@sprite-radio-unchecked-2x-offset-x: -164px;
@sprite-radio-unchecked-2x-offset-y: -96px;
@sprite-radio-unchecked-2x-width: 38px;
@sprite-radio-unchecked-2x-height: 38px;
@sprite-radio-unchecked-2x-total-width: 278px;
@sprite-radio-unchecked-2x-total-height: 160px;
@sprite-radio-unchecked-2x-image: '../images/spritesheet-2x.png';
@sprite-radio-unchecked-2x: 164px 96px -164px -96px 38px 38px 278px 160px '../images/spritesheet-2x.png' sprite_radio-unchecked-2x;
@sprite-tick-2x-name: sprite_tick-2x;
@sprite-tick-2x-x: 184px;
@sprite-tick-2x-y: 58px;
@sprite-tick-2x-offset-x: -184px;
@sprite-tick-2x-offset-y: -58px;
@sprite-tick-2x-width: 50px;
@sprite-tick-2x-height: 38px;
@sprite-tick-2x-total-width: 278px;
@sprite-tick-2x-total-height: 160px;
@sprite-tick-2x-image: '../images/spritesheet-2x.png';
@sprite-tick-2x: 184px 58px -184px -58px 50px 38px 278px 160px '../images/spritesheet-2x.png' sprite_tick-2x;
@spritesheet-width: 139px;
@spritesheet-height: 80px;
@spritesheet-image: '../images/spritesheet.png';
@spritesheet-sprites: @sprite-carousel-left @sprite-carousel-right @sprite-checkbox-checked @sprite-checkbox-unchecked @sprite-logo-lg @sprite-logo @sprite-radio-checked @sprite-radio-unchecked @sprite-tick;
@spritesheet: 139px 80px '../images/spritesheet.png' @spritesheet-sprites;
@retina-spritesheet-width: 278px;
@retina-spritesheet-height: 160px;
@retina-spritesheet-image: '../images/spritesheet-2x.png';
@retina-spritesheet-sprites: @sprite-carousel-left-2x @sprite-carousel-right-2x @sprite-checkbox-checked-2x @sprite-checkbox-unchecked-2x @sprite-logo-2x @sprite-logo-lg-2x @sprite-radio-checked-2x @sprite-radio-unchecked-2x @sprite-tick-2x;
@retina-spritesheet: 278px 160px '../images/spritesheet-2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@sprite-carousel-left-group-name: sprite_carousel-left;
@sprite-carousel-left-group: sprite_carousel-left @sprite-carousel-left @sprite-carousel-left-2x;
@sprite-carousel-right-group-name: sprite_carousel-right;
@sprite-carousel-right-group: sprite_carousel-right @sprite-carousel-right @sprite-carousel-right-2x;
@sprite-checkbox-checked-group-name: sprite_checkbox-checked;
@sprite-checkbox-checked-group: sprite_checkbox-checked @sprite-checkbox-checked @sprite-checkbox-checked-2x;
@sprite-checkbox-unchecked-group-name: sprite_checkbox-unchecked;
@sprite-checkbox-unchecked-group: sprite_checkbox-unchecked @sprite-checkbox-unchecked @sprite-checkbox-unchecked-2x;
@sprite-logo-lg-group-name: sprite_logo-lg;
@sprite-logo-lg-group: sprite_logo-lg @sprite-logo-lg @sprite-logo-2x;
@sprite-logo-group-name: sprite_logo;
@sprite-logo-group: sprite_logo @sprite-logo @sprite-logo-lg-2x;
@sprite-radio-checked-group-name: sprite_radio-checked;
@sprite-radio-checked-group: sprite_radio-checked @sprite-radio-checked @sprite-radio-checked-2x;
@sprite-radio-unchecked-group-name: sprite_radio-unchecked;
@sprite-radio-unchecked-group: sprite_radio-unchecked @sprite-radio-unchecked @sprite-radio-unchecked-2x;
@sprite-tick-group-name: sprite_tick;
@sprite-tick-group: sprite_tick @sprite-tick @sprite-tick-2x;
@retina-groups: @sprite-carousel-left-group @sprite-carousel-right-group @sprite-checkbox-checked-group @sprite-checkbox-unchecked-group @sprite-logo-lg-group @sprite-logo-group @sprite-radio-checked-group @sprite-radio-unchecked-group @sprite-tick-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: extract(@retina-group, 1);
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
