section {
	&.section-white {
		background: #ffffff;
	}

	&.section-grey {
		background: #f6f6f6;
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	}

	&.section-darkgrey {
		background: #7f7f87;
		padding-top: 50px;
		padding-bottom: 50px;

		h2 {
			color: #ffffff;
		}

		.btn {
			margin-top: 10px;
			font-size: 16px;
			font-weight: normal;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}