// Padding generator
.generate-paddings(20);
.generate-paddings(@n, @i: 1) when (@i =< @n) {
	.padding-@{i} {
		padding-top: @i * 5px;
		padding-bottom: @i * 5px;
	}
	.generate-paddings(@n, (@i + 1));
}

.generate-paddings-top(20);
.generate-paddings-top(@n, @i: 1) when (@i =< @n) {
	.padding-top-@{i} {
		padding-top: @i * 5px;
	}
	.generate-paddings-top(@n, (@i + 1));
}

.generate-paddings-bottom(20);
.generate-paddings-bottom(@n, @i: 1) when (@i =< @n) {
	.padding-bottom-@{i} {
		padding-bottom: @i * 5px;
	}
	.generate-paddings-bottom(@n, (@i + 1));
}

// Margins generator
.generate-margins(20);
.generate-margins(@n, @i: 1) when (@i =< @n) {
	.margin-@{i} {
		margin-top: @i * 5px;
		margin-bottom: @i * 5px;
	}
	.generate-margins(@n, (@i + 1));
}

.generate-margins-top(20);
.generate-margins-top(@n, @i: 1) when (@i =< @n) {
	.margin-top-@{i} {
		margin-top: @i * 5px;
	}
	.generate-margins-top(@n, (@i + 1));
}

.generate-margins-bottom(20);
.generate-margins-bottom(@n, @i: 1) when (@i =< @n) {
	.margin-bottom-@{i} {
		margin-bottom: @i * 5px;
	}
	.generate-margins-bottom(@n, (@i + 1));
}

.sprites(@spritesheet-sprites);