.gray-base-fg 		{ color: @gray-base; }
.gray-darker-fg 	{ color: @gray-darker; }
.gray-dark-fg 		{ color: @gray-dark; }
.gray-fg 			{ color: @gray; }
.gray-light-fg 		{ color: @gray-light; }
.gray-lighter-fg 	{ color: @gray-lighter; }
.brand-primary-fg 	{ color: @brand-primary; }
.brand-success-fg 	{ color: @brand-success; }
.brand-info-fg 		{ color: @brand-info; }
.brand-warning-fg 	{ color: @brand-warning; }
.brand-danger-fg 	{ color: @brand-danger; }

.gray-base-bg 		{ background-color: @gray-base; }
.gray-darker-bg 	{ background-color: @gray-darker; }
.gray-dark-bg 		{ background-color: @gray-dark; }
.gray-bg 			{ background-color: @gray; }
.gray-light-bg 		{ background-color: @gray-light; }
.gray-lighter-bg 	{ background-color: @gray-lighter; }
.brand-primary-bg 	{ background-color: @brand-primary; }
.brand-success-bg 	{ background-color: @brand-success; }
.brand-info-bg 		{ background-color: @brand-info; }
.brand-warning-bg 	{ background-color: @brand-warning; }
.brand-danger-bg 	{ background-color: @brand-danger; }