footer.footer {
	border-top: 1px solid #d8d8d8;
	padding-top: 30px;
	padding-bottom: 20px;

	font-size: 12px;

	.copyright {
		@media screen and (max-width: @screen-xs-max) {
			margin-top: 20px;
			text-align: center;
		}

		a {
			margin: 0;
		}
		p {
			margin: 5px 0 0 0;
		}
	}

	.links {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 5px;
				a {
					color: #646569;
				}

				&.social {
					&.facebook a {

					}

					&.twitter a {

					}
				}
			}
		}

		@media screen and (max-width: @screen-xs-max) {
			margin-top: 20px;
			text-align: center;

			ul {
				margin-bottom: 10px;
			}
		}
	}
}